{% extends 'base.html' %}

{% block title %}Request List{% endblock %}

{% block body %}
 
  {% if booker_list %}
   <h3>Your Offer List</h3>
   <br>
   <br>
   <ol>
 {% for book in booker_list %}
 <li><a href="{% url 'booker:offer_detail' pk=book.id %}" /> {{ book }}</li>

 <br>
 {% endfor %}
</ol>
 <br>
 <br>
 <a href="{% url 'booker:offer_book' %}">Offer another Book</a>
 {% else %}
 <h3>You have no book offer yet</h3>
 <p>You have no requests yet</p>
 <br>
 <br>
 <p>Will you like to Offer a Book now?</p>
 <a href="{% url 'booker:offer_book' %}">Offer a Book</a>
 {% endif %}

{% endblock %}